/*FONTS*/
@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSansLight.eot);
    src: url(../fonts/OpenSansLight.woff) format('woff'),
         url(../fonts/OpenSansLight.ttf) format('truetype');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSansBold.eot);
    src: url(../fonts/OpenSansBold.woff) format('woff'),
         url(../fonts/OpenSansBold.ttf) format('truetype');
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url(../fonts/OpenSansSemiBold.eot);
    src: url(../fonts/OpenSansSemiBold.woff) format('woff'),
         url(../fonts/OpenSansSemiBold.ttf) format('truetype');
}

@font-face {
    font-family: "Splento";
    src: url(../fonts/SplentoFont.otf) format('opentype'),
         url(../fonts/SplentoFont.woff) format('woff'),
         url(../fonts/SplentoFont.ttf) format('truetype'),
         url(../fonts/SplentoFont.svg#SplentoFont) format('svg');
}

.open-sans-light{
    font-family: "Open Sans Light";
}

.open-sans-bold{
     font-family: "Open Sans Bold";
}

.splento-font{
    font-family: "Splento";
    font-size: 70px;
    color: #00BBC9;
    margin-top:4em;
    margin-bottom: -0.4em;
}

.open-sans12{
    font-family: "Open Sans Light";
    font-size: 12px;
    margin-left: 30px;
}

.open-sans15{
    font-family: "Open Sans Light";
    font-size: 15px;
    margin: 0;
}

.open-sans35{
    font-family: "Open Sans Light";
    font-size: 35px;
}

.open-sans-bold20{
    font-family: "Open Sans Bold";
    font-size: 20px;
    margin-left: -10px;
}

.font-size-15{
    font-size: 15px;
}

.text-center{
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto;
}

.padding0 {
    padding: 0;
}

.margin0 {
    margin: 0;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.btn-custom {
    font-size: 21px;
    font-family: "Open Sans SemiBold";
    background-color: #3498DB ;
    padding: 16px 16px 16px 16px!important;
}

.background-img{
    position: absolute;
    margin-top: 1em
}

.position-to-img{
    position: relative;
}

.rate-img{
    width: 80%;
}

.space26{
    padding: 26.3px;
}

.space9{
    padding: 9px;
}

.radio-centred{
    display: table;
    margin: 0 auto;
}

.padding-left-right-35 {
    padding: 0 35px 0 35px;
}

.margintop2em {
    margin-top: 2em;
}

.margintop1em {
    margin-top: 1em;
}

.background-img {
    background: url(../img/background_gift_card.png) center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.purple-point{
    /*color: #8A74B9;*/
    list-style-image: url(../img/purple_point.png);
}

.green-point{
    /*color: #4CB992 ;*/
    list-style-image: url(../img/green_point.png);
}

 .blue-point{
    /*color: #3498DB;*/
     list-style-image: url(../img/blue_point.png);
}

.dotted{
    border:0;
    border-bottom: 2px dotted;
}

@media only screen and (max-device-width: 1024px){
    .splento-font{
        margin-top: 0;
    }
    .background-img{
        display: none;
    }
    .open-sans12{
        margin-left: 0;
    }
@media screen and (orientation: landscape) {
    .rate-img{
        width: 100%;
    }


}

}




