/*FONTS*/
@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSansLight.eot);
    src: url(../fonts/OpenSansLight.woff) format('woff'),
         url(../fonts/OpenSansLight.ttf) format('truetype');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSansBold.eot);
    src: url(../fonts/OpenSansBold.woff) format('woff'),
         url(../fonts/OpenSansBold.ttf) format('truetype');
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url(../fonts/OpenSansSemiBold.eot);
    src: url(../fonts/OpenSansSemiBold.woff) format('woff'),
         url(../fonts/OpenSansSemiBold.ttf) format('truetype');
}

@font-face {
    font-family: "Splento";
    src: url(../fonts/SplentoFont.otf) format('opentype'),
         url(../fonts/SplentoFont.woff) format('woff'),
         url(../fonts/SplentoFont.ttf) format('truetype'),
         url(../fonts/SplentoFont.svg#SplentoFont) format('svg');
}

.open-sans-light{
    font-family: "Open Sans Light";
}

.open-sans-bold{
     font-family: "Open Sans Bold";
}

.splento-font{
    font-family: "Splento";
    font-size: 70px;
    color: #00BBC9;
    margin-top:4em;
    margin-bottom: -0.4em;
}

.open-sans12{
    font-family: "Open Sans Light";
    font-size: 12px;
    margin-left: 30px;
}

.open-sans15{
    font-family: "Open Sans Light";
    font-size: 15px;
    margin: 0;
}

.open-sans35{
    font-family: "Open Sans Light";
    font-size: 35px;
}

.open-sans-bold20{
    font-family: "Open Sans Bold";
    font-size: 20px;
    margin-left: -10px;
}

.myrad-pro{
    font-family: "Myriad Pro";
    font-size: 14px;
    color: #00BBC9;
}

.font-size-15{
    font-size: 15px;
}

.text-center{
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.btn-custom {
    font-size: 21px;
    font-family: "Open Sans SemiBold";
    background-color: #3498DB ;
    padding: 16px 16px 16px 16px!important;
}

.position-absolute{
    position: absolute;
    width: 100%
}

.position-relative{
    position: relative;
}

.rate-img{
    width: 80%;
}

.radio-centred{
    display: table;
    margin: 0 auto;
}

.space26{
    padding: 26.3px;
}

.space9{
    padding: 9px;
}

.padding0 {
    padding: 0;
}

.padding-left-right-35 {
    padding: 0 35px 0 35px;
}

.margin0 {
    margin: 0;
}

.margin-top1em {
    margin-top: 1em;
}

.margin-top2em {
    margin-top: 2em;
}

.margin-top4em {
    margin-top: 4em;
}

.margin-top12em {
    margin-top: 12em;
}

.margin-top14em {
    margin-top: 14em
}

.margin-left10{
    margin-left: 10px;
}

.margin-top20px{
    margin-top: 20px;
}

.background-img {
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 1em
}

.gift-card-img{
    background-size: auto 60%;
    background-repeat: no-repeat;
}

.purple-point{
    /*color: #8A74B9;*/
    list-style-image: url(../img/purple_point.png);
}

.green-point{
    /*color: #4CB992 ;*/
    list-style-image: url(../img/green_point.png);
}

 .blue-point{
    /*color: #3498DB;*/
     list-style-image: url(../img/blue_point.png);
}

.dotted{
    border:0;
    border-bottom: 1px dotted;
    margin-left: 15px;
}

.dotted {
    border:0;
    line-height: 50px;
    background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    width: 90%;
}

.rows-border-bottom{
    line-height: 50px;
    border: none;
    overflow: auto;
    outline: none;
    background-image:
            -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%),
            -webkit-linear-gradient(bottom, rgba(128,128,128,1) 0%, rgba(128,128,128,0) 4%, rgba(128,128,128,0) 100%);
    -webkit-background-size: 3px 50px;
    -moz-background-size: 3px 50px;
    -ms-background-size: 3px 50px;
    -o-background-size: 3px 50px;
    background-size: 3px 50px;
    background-repeat: repeat;}

input:focus, textarea:focus{
    outline: none;
}

@media only screen and (max-device-width: 1450px)  {
    .splento-font{
        font-size: 60px;
    }
}

@media only screen and (max-device-width: 1024px){
    .background-img{
        display: none;
    }
    .open-sans12{
        margin-left: 0;
    }
    .margin-top12em {
        margin-top: 8em;
    }
    .margin-top14em {
        margin-top: 11em;
    }
    .margin-top4em {
        margin-top: 1em;
    }
}

@media only screen and (max-device-width: 835px)  {
    .splento-font{
        font-size: 50px;
    }
}

@media screen and (orientation: landscape) {
    .rate-img{
        width: 100%;
    }
}

@media screen and (orientation: portrait) {
    .margin-top12em {
        margin-top: 7em;
    }
    .margin-top14em {
        margin-top: 10em;
    }
    .margin-top4em {
        margin-top: 1em;
    }
}

@media only screen and (max-device-width: 767px)  {
    .mobile-width{
        width: 100%;
    }
    .margin-top12em {
        margin-top: 20px;
    }
    .margin-top14em {
        margin-top: 20px;
    }
}







